[mysql]
default-character-set=utf8mb4

[client]
default-character-set=utf8mb4

# [mysqld]
# default-character-set = utf8mb4
# character_set_server = utf8mb4
skip-name-resolve # Don’t resolve hostnames

[mysql.server]
default-character-set = utf8mb4

# [mysqld_safe]
# default-character-set = utf8mb4

# 慢日志
long_query_time=2
log_slow-queries=/var/lib/mysql/mysql_log_slow
# 错误日志
log_error=/var/lib/mysql/mysql_log_error
